.react-tabs {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .react-tabs__tab-list {
    margin: -52px 0 25px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px 6px 0 0;
    margin: 0px 0px 0px 5px;
    font-weight: 600;
  }
  
  .react-tabs__tab--selected {
    border-color: #aaa;
    color: black;
    color: rgb(118, 118, 118);;
    border-radius: 5px 5px 0 0;
    background-color: rgb(240, 242, 245);

  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: '';
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: transparent;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
}
